.navbar {
    border-radius: 0;
}

html, body {
  height: 100%;
}

.intro {
  width: 100%;
  height: 100%;
  background-image: url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
