@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import '../../bower_components/bootstrap-less/less/variables.less';
@import 'colors.less';

html, body {
  font-family: 'Inconsolata';
  overflow-x: hidden;
}

.navbar {
    font-size: 1.5em;
    border: 0;

    .navbar-brand {
        color: white;
        font-size: 1em;
        font-weight: bold;
        &:hover {
            color: @blue;
        }
    }

    .navbar-toggle {
        border-color: white;
    }

    .navbar-right {
        margin-right: 30px;
    }
}

.navbar-inverse {
    background-color: @base03;
    .navbar-nav {
        li {
            a {
                color: white;
                &:hover {
                    color: @blue;
                }
            }
        }
    }

    li {
        margin-right: 5px;
    }
}

.transparent {
    background-color: none;
    background: none;
}

.intro {
  height: 100vh;
  background-image: linear-gradient(
      rgba(43, 54, 193, 0.3), 
      rgba(43, 54, 193, 0.3)
    ),url('../img/header-bg.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .title {
    color: white;
    margin-top: 15%;
    
    h1 {
        font-size: 7em;
        font-weight: bold;
    }

    .btn {
        font-size: 2em;
        border-radius: 15px;
        margin: 20px;
        border-color: white;
    }

    .btn-primary {
        color: black;
        background-color: white;
    }

    .btn-default {
        color: white;
        background-color: transparent;
    }

    .links {
        margin: 0;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: @base03;
            }
        }

        i {
            padding: 5px 10px;
            display: inline-block;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px;
            border: 2px solid white;
            &:hover {
                border-color: @base03;
            }
        }
    }
  }
}

h2 {
    font-size: 3em;
}

section {
    padding: 50px;
}

.about {
    background-color: @base2;
    p {
        padding: 40px;
        font-size: 2em;
        color: @base02;
    }
}

.skills {
    background-color: @base0;
    color: white;

    h2 {
        margin: 30px 0 20px;
    }

    ul {
        list-style-type: none;
    }

    .outer {
        font-size: 1.5em;
        font-weight: bold;
        li {
            margin: 0 0 15px 0;
        }
    }

    .inner {
        font-weight: normal;
        li {
            display: inline;
        }
    }

}

footer {
    padding: 10px 0 10px;
    background-color: @base03;
    color: white;

    .copyright {
        margin: 10px 0 10px;
        font-size: 1.5em;
    }
}

/* Small screen & Biger */
@media (max-width: @screen-sm) {

    .navbar {
        font-size: 1em;
        .navbar-brand {
            font-size: 1.5em;
        }
    }

    .intro {
        background-image: linear-gradient(
                rgba(43, 54, 193, 0.3), 
                rgba(43, 54, 193, 0.3)
            ),url('../img/header-bg-mobile.jpeg');

        .title {
            margin-top: 45%;
            h1 {
                font-size: 4em;
            }

            .link {
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
    }

    section {
        padding: 20px;
    }

    .about {
        p {
            padding: 20px;
            font-size: 1.7em;
            color: @base02;
        }
    }

    footer {
        .copyright {
            font-size: 1em;
        }
    }
}
