<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ariel Gerardo R&iacute;os | Ariel 17</title>
    <link rel="stylesheet" href="http://localhost:3000/public/css/bootstrap.css" />
    <link rel="stylesheet" href="http://localhost:3000/public/css/font-awesome.css" />
    <link rel="stylesheet" href="http://localhost:3000/public/css/style.css" />
  </head>

  <body>
    <div class='container'>
     <%- body %>
    </div>

    <footer>

      <div class="row links">
        <div class="col-sm-offset-3 col-sm-2">
          <a href="https://twitter.com/ariel_17_/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
        
        <div class="col-sm-2">
          <a href="https://www.linkedin.com/in/arielgerardorios/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </div>

        <div class="col-sm-2">
          <a href="https://github.com/ariel17"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        </div>

        <div class="col-sm-2">
          <a href="mailto:ariel.gerardo.rios@gmail.com"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12 text-center copyright">
          Copyright 2017 &copy; All rights reserved.  
        </div>
      </div>

      <script src="http://localhost:3000/public/js/jquery.min.js"></script>
      <script src="http://localhost:3000/public/js/collapse.min.js"></script>
    </footer>


</body>
</html>
