<div class="container-fluid row">
  <div class="row col-md-offset-2 col-md-8">
    <h1>
      <%- page.title %>
      <small><%= date(page.date, config.date_format) %></small>
    </h1>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <%- page.content %>
  </div>
</div>

